
body {
    background-color: #4398a0;
    /*background-image: url(../img/bg.jpg);*/
}

.name-header {
    font-family: Consolas, monaco, monospace;
    font-size: 70px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
    text-align: center;
    margin-top: 30px;
    color: white;
}

 /*blur image*/
/*.mypic img{
  display: block;
      margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
    -webkit-filter: blur(3px);
    filter: blur(3px);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.mypic img:hover {
    -webkit-filter: blur(0);
    filter: blur(0);
}
*/

/*greyscale image */
.mypic img{
    display: block;
      margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.mypic img:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}


.content h2 {
    font-size: 1.625em;
    font-family: Consolas, monaco, monospace;
    line-height: 1.30769em;
    padding: 0 10%;
    color: white;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 125px;
    margin-inline-end: 0px;

}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #95c1c6;
    color: #fff;
    transition: all 0.3s;
}

